@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.imgsdiv {
  padding: 0 20px 10px 20px;
}
.imgs {
  padding: 5px;
  padding-bottom: 15px;
  width: 335px;
  height: auto;
}
.abtusdiv {
  padding: 0 40px 0 40px;
}
.aboutustitle {
  text-align: center;
  font-family: "Playfair Display", Sans-serif;
  font-size: 40px;
  color: #066473;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 1px;
  font-style: oblique;
}
.abtdesc {
  color: #000000;
  font-family: "Times New Roman", Sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 1px;
}
.facelogo {
  font-size: 64px;
  color: #4267b2;
  margin-left: 85px;
}
.instalogo {
  margin-left: 10px;
  color: #c13584;
  font-size: 64px;
}

.contacttitle {
  margin-left: 70px;
}
.contacticon{
  margin-left: 5px;
}
