:host {
  .menu {
    max-height: 0;
    
    &.active{
      animation: move 1s !important ;
      position: relative;
      
      max-height: 500px;
      transition: all 1s linear !important  ;
  
    }
  }
  .menuroom {
    max-height: 0;
    
    &.active{
      animation: mymove 1s !important ;
      position: relative;
      
      max-height: 500px;
      transition: all 1s linear !important  ;
  
    }
  }
  @keyframes move {
    from {
      top: -300px;
    }
    to {
      top: 0px;
    }
  }
  @keyframes mymove {
    from {
      right: -400px;
    }
    to {
      right: 0px;
    }
  }
  .header {
    margin-left: 10px;
    display: flex;
    height: 100px;
  }
  .logo {
    width: 260px;
    height: 68px;
  }
  .logodiv {
    width: 280px;
    height: 95px;
    margin-right: 50px;
    margin: 10px 10px;
    flex: 83%;
    padding: 5px;
  }
  .icondiv {
    margin: 10px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
    flex: 17%;
    padding: 5px;
    margin-right: 15px;
  }
  .roomicon {
    font-size: 20px;
  }
  .icon {
    margin: 5px;
    width: 25px;
    height: 25px;
  }
  .roomsicon {
    margin-left: 15px;
    margin-right: 4px;
    font-family: Astra;
    font-size: 0.65em;
  }
  
  .menulist {
    --ion-background-color: #f9f9f9;
  }

  ion-item {
    font-size: 15px;
    font-weight: lighter;
    color: #3a3a3a;
    padding: 0 9px;
    display: inline-block;
    width: 100%;
    border-color: #eaeaea;
    margin-left: -10px;
  }
}
